

body {
	background-color: #212121; 
	font-size: 18px;
	line-height: 10px;
	font-family: 'Caveat Brush', cursive;
	color: red;
}

* {
	box-sizing: border-box;
}

.container {
	
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}ß
h1, 
h2,
h3,
p {
	margin-bottom: 10px;
}


p:last-child {
	margin-bottom: 0;
}
h1, h2, h3 {
	font-family: 'Caveat Brush', cursive;
	font-weight: 700;
	color: white;
}
h1 {
	font-size: 30px;
	line-height: 49px;
	border-bottom: 3px solid white;
	padding-bottom: 20px;
}
h2,
h3 {
	font-size: 22px;
}

#masthead {
	background: #212121;
	margin: 0 0 30px;
	z-index: 99;
	color: #393e93;
	overflow: auto;
	border-bottom: 2px solid white;
	position: fixed;
    width: 100%;
    height: auto;
    max-width: 1920px;
}
#logo {
	width: 200px;
	height: 140px;
	background: red;
	float: left;
	line-height: 10px;
	font-family: 'Caveat Brush', cursive;
	text-align: center;
	line-height: 70px;
	color: white;
	font-weight: 700;
	font-size: 30px;
	text-decoration: none;
	

}

nav {
	float: right;
	margin-top: 25px;
}
nav a {
	color: white;
	text-decoration: none;
	margin-left: 15px;
	display: inline-block;
	border-left: 1px solid red;
	padding-left: 15px;
	line-height: 18px;
}
nav a:first-child {
	border-left: 0 none;
}


footer {
	background: #212121;
	color: red;
	padding: 30px 0;
	clear: both;
	border-top: 8px solid red;
	color: red;
	font-size: 12px;
	text-align: center;
}


.sidebar {
	background: #212121;
	padding: 30px;
	width: 100%;
	max-width: 270px;
	float: right;
	border: 1px solid red;
	margin-bottom: 20px;
}
h3,
.sidebar h2 {
	border-bottom: 2px solid red;
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
}
.social {
	width: 62px;
	height: 62px;
	margin-top: 8px;
	margin-right: 5px;
}
.social:last-child {
	margin-right: 0;
}


main {
	padding-top: 130px;
}
.main-section {
	background: #212121;
	padding: 30px;
	margin: 0 0 40px 0;
	width: 100%;
	max-width: 650px;
	float: left;
	border: 1px solid red;
}

.work {
	width: 274px;
	overflow: auto;
	position: relative;
	float: left;
	margin: 20px 0 25px;
}
.work:nth-child(even) {
	margin-right: 40px;
}
.work img {
	width: 100%;
	border: 0 none;
	opacity: .8;
}
.work h3 {
	border-bottom: 0;
	background: #399351;
	color: #FFA500;
	text-align: center;
	position: absolute;
	padding: 15px;
	width: 100%;
	bottom: 20px;
	line-height: 30px;
	margin-bottom: 0;
	font-weight: 300;
}
.auth-image {
	width: 200px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-right: 25px;
}


#contact-form ul {
	margin-bottom: 20px;
}
#contact-form li {
	margin-bottom: 10px;
}
label,
input[type=text],
input[type=email],
textarea {
	display: block;
	width: 100%;
}
input[type=text],
input[type=email],
textarea {
	height: 35px;
	border: 1px solid red;
	padding: 0 10px;
	font-size: 14px;
}
textarea {
	height: 200px;
}
input[type=submit] {
	background: #212121;
	border: red;
	color: #FFA500;
	font-size: 18px;
	padding: 10px 30px;
	cursor: pointer;
}


/*Carousel*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

a{
	color:white;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


=



* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width:500px
	height:475px;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
